.title{
    font-size: 200%;
    font-weight: bold;
}

.details{
    display: flex;
    justify-content: space-around;
}

.post{
    width: 500px;
}

.page{
    justify-items: center;
    width: 100vw;
}

.userdetails{
    display: flex;
    
    justify-content: space-around;
}

.firstcol .secondcol{
    display: flex;
    flex-direction: row;
}

.postexplore{
    display: flex;
    flex-direction: column;
    width: 1vw;
}